<!--The content below is only a placeholder and can be replaced.-->
<input
  type="text"
  style="width: 500px; height: 30px; border-color: black; font-size: larger;"
  [(ngModel)]="input_filter"
  (ngModelChange)="makeSearching(input_filter)"
/><br />
<div class="row">
  <div *ngFor="let carro of filters" class="card col-4">
    <img
      class="card-img-top"
      src="{{ carro.image_url }}"
      alt="Card image cap"
    />
    <p>{{ carro.car_name }}</p>
    <p>{{ carro.ext_color }}</p>
  </div>
</div>

<router-outlet></router-outlet>
